.requests-list{
    /* border: 2px solid teal; */
    height: calc( 100vh - 112px);
    overflow-y: scroll;
}
.order{
    /* border: 1px solid crimson; */
    height: 90px;
    cursor: pointer;
    padding-top: 8px;
    margin-bottom: 0px;
}

.order-header{
    display: flex;
    /* border: 1px solid yellowgreen; */
    width: 100%;
}
.order-header-left{
    
}
.order-header-center{
    flex-grow: 1;
    /* border: 1px solid lightcoral; */
    padding-left: 16px;
}
.order-header-right{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 8px;
     
}
.order-content{
    /* border: 1px solid rebeccapurple; */
    height: 44px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.order-footer{
    /* border: 1px solid crimson; */

    display: flex;
    justify-content: space-between;
}

.order-item{
   display: flex;
   height: 24px;
   /* border: 1px solid fuchsia; */
}

.order-instructions{
    height: 22px;
    /* border: 1px solid teal; */
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
}

.order-item-name{
   flex-grow: 2;
}
.order-item-qty{
   flex-grow: 1;
}
.order-item-price{
   flex-grow: 1;
   text-align: end;
}
.order-client-name{
   font-size: 1rem;
   font-weight: bold;
}

.order-total{
    font-weight: bold;
}