<div class="page-action-header">
    <div class="page-title">
       Settings
    </div>
 
      
</div>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Promotions">
        <div class="list-table-section">
            <div style="display: flex;flex-direction: row-reverse;">
                <app-new-banner (save)="closeNewForm()"></app-new-banner> 
         
                <div  style="height:70vh; overflow-y: scroll; width: 450px ">
                    <div  class="food-category-item" *ngFor="let element of banners">
                        <div class="food-category-item-top">
                            <div class="food-category-image">
                                <img class="item-avatar" [src]="element.img">
                            </div>
                            <div>
                                <div class="food-category-name">
                                    {{element.heading1}}
                                </div>
                                <div class="sizes-section">
                                     {{element.heading2}}
                                </div>
                                <div class="sizes-section">
                                    {{element.heading3}}
                                </div>
                            </div>
                        </div>
        
        
        
                        <div class="food-category-actions">
                            <mat-icon  *ngIf="pass.write"  (click)="confirmDeleteBannersDialog(element.id)">
                                delete_outline
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </mat-tab>
    <mat-tab label="Delivery">
        <div class="delivery-charges">
            <h2>Delivery Charges</h2>
            <div class="delivery-charge">
                <div>
                    <b>From</b>
                </div>
                <div>
                    <b>To</b>
                </div>
                <div>
                   <b>Charge</b>
                </div>
            </div>
            <div class="delivery-charge" *ngFor="let tier of tiers">
                <div>
                    {{tier.min}}Km
                </div>
                <div>
                    {{tier.max}}Km
                </div>
                <div>
                    {{tier.charge | currency}}
                </div>
            </div>
            <div>
              Beyound Max distance tier <b>{{ extra_tier | currency }}</b> per Km 
            </div>
        </div>
        <div>
            <h2>Delivery Outsourcing</h2>
        </div>
        
    </mat-tab>
</mat-tab-group>




