<div class="page-action-header">
    <div class="page-title">
        Merchants
    </div>
</div>

<div class="merchant" *ngFor="let merchant of merchants; index as i">
    <div class="merchant-logo" (click)="viewSections(merchant.id)">
        <img [src]="merchant.logo_url" />
    </div>
    <div class="merchant-details" (click)="viewSections(merchant.id)">
        <div class="merchant-title">
            {{merchant.name}}
        </div>
        <div class="merchant-address">
            {{merchant.street_address}}
        </div>

    </div>
    <div class="merchant-action">
        <mat-slide-toggle class="close-action"></mat-slide-toggle>

        <button mat-icon-button (click)="viewEdit(merchant.id)">
      <mat-icon>edit</mat-icon>
    </button>
    </div>
</div>

<div class="add-fab-section">
    <button mat-fab color="accent" [routerLink]="['/newmerchant']" routerLinkActive="router-link-active">
    <mat-icon>plus_one</mat-icon>
  </button>
</div>