<p>editmenu works!</p>


<form [formGroup]="detailsForm">
    <mat-form-field class="item-name-field">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" >
        <!-- <mat-error *ngIf="phone_numbers.errors?.required && phone_numbers.touched">
            A phone number is required
        </mat-error> -->
    </mat-form-field>

    <div class="item-prices-section" formArrayName="prices" *ngFor="let price of detailsForm.get('prices')['controls']; index as p" >
        <div [formGroupName]="p">
            <mat-form-field class="input-field">
                <mat-label>size</mat-label>
                <input matInput placeholder="size" formControlName="size" (keyup)="updatePriceSize(p)">
                <!-- <mat-error *ngIf="phone_numbers.errors?.required && phone_numbers.touched">
                    A phone number is required
                </mat-error> -->
            </mat-form-field>
            <mat-form-field class="input-field">
                <mat-label>prize</mat-label>
                <input matInput placeholder="price" formControlName="price">
                <!-- <mat-error *ngIf="phone_numbers.errors?.required && phone_numbers.touched">
                    A phone number is required
                </mat-error> -->
            </mat-form-field>
        </div>
        <div>
            <mat-icon style="cursor: pointer;" (click)="removeItemPrice(p)">delete_outline</mat-icon>
      
        </div>
    </div>
    <div>
        <button mat-raised-button (click)="pushItemPrice()">Add Price</button>
    </div>
</form>


<form [formGroup]="extrasForm">
    <div formArrayName="addon_categories" *ngFor="let addon_category of extrasForm.get('addon_categories')['controls']; index as i" >
        <div class="addon-category-section" [formGroupName]="i">
            <div class="addon-category-header">
                <mat-form-field class="name-field">
                    <mat-label>Category Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name">
                    <!-- <mat-error *ngIf="phone_numbers.errors?.required && phone_numbers.touched">
                        A phone number is required
                    </mat-error> -->
                </mat-form-field>
    
                <mat-checkbox class="input-field">Required</mat-checkbox>
    
                <mat-form-field class="input-field">
                        <mat-label>Select Option</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let option of select_options" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-select>
                </mat-form-field>

                <div>
                    <mat-icon style="cursor: pointer;" (click)="removeAddonCategory(i)">delete_outline</mat-icon>
             
                </div>
            </div>
        

            <div class="addon-section" formArrayName="addons" *ngFor="let addon of extrasForm.get('addon_categories')['controls'][i].get('addons')['controls']; index as a" >
                <div [formGroupName]="a">
                    <div class="addon-header">
                        <mat-form-field class="name-field input-field" >
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" formControlName="name">
                            <!-- <mat-error *ngIf="phone_numbers.errors?.required && phone_numbers.touched">
                                A phone number is required
                            </mat-error> -->
                        </mat-form-field>
                        <div>
                            <mat-icon style="cursor: pointer;" (click)="removeAddon(i,a)">delete_outline</mat-icon>
                        
                        </div>
                    </div>
                    

                    <div class="addon-prices-section" formArrayName="prices" *ngFor="let price of extrasForm.get('addon_categories')['controls'][i].get('addons')['controls'][a].get('prices')['controls']; index as p" >
                        <div [formGroupName]="p">
                          
                            <input hidden placeholder="size" formControlName="size">
                            <mat-form-field class="input-field">
                                <mat-label>price on
                                    <!-- {{detailsForm.get('prices')['controls'][p].get('size').value}} -->
                                </mat-label>
                                <input matInput placeholder="price" formControlName="price">
                                <!-- <mat-error *ngIf="phone_numbers.errors?.required && phone_numbers.touched">
                                    A phone number is required
                                </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-icon style="cursor: pointer;" (click)="removeAddonPrice(i,a,p)">delete_outline</mat-icon>
                      
                        </div>
                    </div>

                    <button mat-raised-button (click)="pushAddonPrice(i,a)">Add Price</button>

                </div>
     
            </div>


        </div>
        <button mat-raised-button (click)="pushAddon(i)">New Addon</button>

    </div>
       
    <button mat-raised-button (click)="pushAddonCategory()">New Addon Category</button>
    <div>
      <!-- <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button> -->
    </div>
  </form>

  <form [formGroup]="preferencesForm">
    <div formArrayName="preferences" *ngFor="let preference of preferencesForm.get('preferences')['controls']; index as i" >
        <div [formGroupName]="i">
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
                <!-- <mat-error *ngIf="phone_numbers.errors?.required && phone_numbers.touched">
                    A phone number is required
                </mat-error> -->
            </mat-form-field>
            <div formArrayName="prices" *ngFor="let price of preferencesForm.get('preferences')['controls'][i].get('prices')['controls']; index as p" >
                <div [formGroupName]="p">
                  
                    <input hidden placeholder="size" formControlName="size">
                    <mat-form-field class="example-full-width">
                        <mat-label>price on
                            {{detailsForm.get('prices')['controls'][p].get('size').value}}
                        </mat-label>
                        <input matInput placeholder="price" formControlName="price">
                        <!-- <mat-error *ngIf="phone_numbers.errors?.required && phone_numbers.touched">
                            A phone number is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
             
            </div>
           

        </div>
        <div>
            <mat-icon style="cursor: pointer;" (click)="removePreference(i)">close</mat-icon>
            remove Preferance
        </div>

    </div>
    <button mat-raised-button (click)="pushPreference()">Add New Prefences</button>


    <!-- <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div> -->
  </form>



