<div class="page-action-header">
  <div class="page-title">
     Drivers
  </div>

    
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
    <!-- Name Column -->
    <ng-container matColumnDef="name">

      <div class="user-item" mat-cell *matCellDef="let element"> 
         <div class="user-item-avatar">
             <img class="avatar" src="../../../assets/fpo_avatar.png">
         </div>
         <div class="user-item-details">
            <div class="user-item-name">
                {{element.name}} 
             </div>
             <div class="user-item-contact">
                <div>
                    <mat-icon inline="true">call</mat-icon>
                    {{element.phone_number}}
                </div>
                <div>
                   Status : <span *ngIf="element.occupied">Occupied</span> <span *ngIf="!element.occupied">Free</span>
                  
                </div>
             </div>     
         </div>
         <div class="user-item-actions">
            <div class="user-action-action"> Active &nbsp; <mat-checkbox [checked]="element.active"></mat-checkbox> &nbsp; </div>
            <div class="user-action-action"  style="margin-bottom: 0px;">Remove  <mat-icon (click)="removeDriver(element.id, element.name)">delete</mat-icon></div>
        </div>
       
      </div>
    </ng-container>
  
  

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="add-fab-section">
    <button mat-fab color="accent" (click)="openDialog()">
        <mat-icon>plus_one</mat-icon>
      </button>

  </div>
  
