
.section-list{
    margin-left: 6px;
}
.section-list-item{
    border: 1px solid #ddd;
    height: 70px;
    display: flex;
    margin:8px 8px;
    padding: 6px;
    align-items: center;
    cursor: pointer;

}

.section-avatar-container{
    width: 75px;
    /* border: 1px solid teal; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-avatar{
    height: 62px;
    width: 62px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
}

.section-list-details{
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 12px;
}


.avatar{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    object-fit: contain;

}