
<div class="page-title">
    {{merchant_name | titlecase}} {{section_name | titlecase}} Menu
 </div>
 <div class="menu-list" >
     <div class="menu-list-item" *ngFor="let product of products ; index as i"  >
       <div class="menu-avatar-container">
         <div class="menu-avatar">
           <img class="avatar" [src] = "product.image_url" />
         </div>
       </div>
       <div class="menu-list-details" (click)="viewProduct(i)">
         <div class="product-name">
           {{product.name}}
         </div>
         <div style="display: flex;">
           <div class="size-price" *ngFor="let size_prize of product.prices">
             {{size_prize.size}} 
             {{size_prize.price | currency}}
           </div>
         </div>
   
       </div>
   
       <div class="menu-actions">
 
         <div class="menu-action-btn">
           <!-- <mat-icon >edit</mat-icon> -->
             <mat-slide-toggle [checked]="product.available" (change)="toggleAvailability(i,$event.checked)"></mat-slide-toggle>
         </div>
       </div>
     </div>
   </div>
 
   <div class="add-fab-section">
     <button mat-fab color="accent" [routerLink]="['/products/new']" routerLinkActive="router-link-active" >
         <mat-icon>plus_one</mat-icon>
     </button>
 
   </div>
 
