<p>products works!</p>
<div class="page-title">
    Mechant Section Menu
 </div>
 <div class="menu-list" >
     <div class="menu-list-item" *ngFor="let product of products ; index as i" (click)="viewProduct(i)" >
       <div class="menu-avatar-container">
         <div class="menu-avatar">
           <img class="avatar" [src] = "product.image_url" />
         </div>
       </div>
       <div class="menu-list-details">
         <div>
           {{product.name}}
         </div>
         <div>
           Taril
         </div>
   
       </div>
   
       <div class="menu-actions">
 
         <div class="menu-action-btn">
           <mat-icon [routerLink]="['/editmenu/1']" routerLinkActive="router-link-active" >edit</mat-icon>
             <mat-slide-toggle></mat-slide-toggle>
         </div>
       </div>
     </div>
   </div>
 
   <div class="add-fab-section">
     <button mat-fab color="accent" [routerLink]="['/products/new']" routerLinkActive="router-link-active" >
         <mat-icon>plus_one</mat-icon>
     </button>
 
   </div>
 
