<div>
   
 
    <div class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" (click)="onselect()">
        Dashboard
    </div>
    <div class="nav-link" [routerLink]="['/requests']" routerLinkActive="router-link-active" (click)="onselect()">
        Requests
    </div>
    <div class="nav-link" [routerLink]="['/merchants']" routerLinkActive="router-link-active" (click)="onselect()">
        Merchants
    </div>
    <div class="nav-link" [routerLink]="['/customers']" routerLinkActive="router-link-active" (click)="onselect()">
        Customers
    </div>
    <div class="nav-link" [routerLink]="['/drivers']" routerLinkActive="router-link-active" (click)="onselect()">
        Drivers
    </div>
    <div class="nav-link" [routerLink]="['/settings']" routerLinkActive="router-link-active" (click)="onselect()">
        Settings
    </div>
    <div class="nav-link" [routerLink]="['/system-users']" routerLinkActive="router-link-active" (click)="onselect()">
        System Users
    </div>

</div>