
<h1 mat-dialog-title>New Section</h1>
<div mat-dialog-content>

<form [formGroup]="form">
  <mat-form-field class="field-width">
    <mat-label>Section Name </mat-label>
    <input matInput placeholder="Section Name"  type="text" min="1" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Icon</mat-label>
    <mat-select formControlName="icon_name">
      <mat-option *ngFor="let icon of icons" [value]="icon.image_url">
        <div style="display: flex;align-items: flex-start;">
          <div><img class="section-select-icon" style="height: 24px;" [src]="'../../../assets/svg-icons/'+ icon.image_url + '.svg'"> </div>
          <div>{{icon.name}} </div>
        </div>
      
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>



</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <div style="flex:1 1 auto"></div>
  <button [disabled]="form.invalid" mat-button mat-dialog-close (click)="saveSection()">Save</button>
</div>







