/* .upload-section-logo{
    width: 300px;
    height: 300px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.image-edit-section{
    width: 300px;
    height: 300px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.cropped-image{
    width: 100%;
    height: 200px;
}

.field-width{
    width: 100%;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.menu-details-section{
    border:1px solid green;
    display: flex;

}


.item-name-field{
    font-size: 1.5rem;
    width:100%
}


.addon-category-section{
    border: 1px solid blueviolet;
}
.addon-category-header{
    background-color: #ddd;
    display: flex;
    align-items: center;
}

.addons-section{
    border: 1px solid lightcoral;
    display: flex;
    margin-left: 12px;
}
.addon-item-section{
    border: 1px solid crimson;
    width: 100%;
    padding-right: 12px;
}
.addon-header{
  background-color: lightcyan;
  display: flex;
  align-items: center;
  height: 44px;
  width: 100%; 
}

.name-field{
    flex-grow: 1;
    margin-right: 6px;
    width: 100%;
}

.input-field{
    font-size: 0.9rem;
    margin: 6px;
}
.size-price-item{
    border: 1px solid crimson;
    display: flex;
    align-items: flex-end;
    height: 44px;
}

.addon-prices-section{
    border: 3px solid green;
    display: flex;
    margin-left: 16px;
   flex-wrap: wrap;
    align-items: center;
    
}
.addon-size-price-item{
    border: 1px solid crimson;
    display: flex;
    align-items: flex-end;
    height: 44px;
}

.size-price-field{
    position: relative;
    bottom: -10px;
}

.ico-btn{
    display: flex;
    align-items: center;
}
.preference-item-container{
    display: flex;
    align-items: center;
}
.preference-item{
    display:flex;

}
 */
