.upload-section-logo{
    width: 200px;
    height: 200px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.image-edit-section{
    width: 100%;
    height: 200px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.cropped-image{
    width: 100%;
    height: 200px;
}

.field-width{
    width: 100%;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.menu-details-section{
    border:1px solid green;
    display: flex;

}
.image-edit-section{
    width: 30%;
}

.item-name-field{
    font-size: 1.5rem;
    width:100%
}


.addon-category-section{
    border: 1px solid blueviolet;
}
.addon-category-header{
    background-color: #ddd;
    display: flex;
    align-items: center;
}

.addon-section{
    border: 1px solid lightcoral;
    display: flex;
    margin-left: 8px;
}
.addon-header{
  background-color: lightcyan;
  display: flex;
  align-items: center;
  height: 44px;
 
}
.addon-prices-section{
    border: 1px solid green;
    display: flex;
    margin-left: 16px;
  height: 44px;
    align-items: center;
}
.name-field{
    flex-grow: 1;
    margin-right: 6px;
}

.input-field{
    font-size: 0.7rem;
    margin: 6px;
}
