/* You can add global styles to this file, and also import other style files */
@import '~firebaseui/dist/firebaseui.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.add-fab-section{
    position: fixed;
    /* border: 1px solid royalblue; */
    bottom: 12px;
    right: 12px;
}

table {
    width: 100%;
}

.user-item{
    display: flex;
    align-items: center;
    margin: 4px 0px;
    padding: 4px;
    border-bottom: 1px solid #ddd;
   
}

.example-full-width{
    margin: 0px 4px ;
}

.user-item-name{
    font-weight: bold;
}

.avatar{
    height: 56px;
    width: 56px;
    border-radius: 50%;
 
    border: 1px solid #ddd;
}
.avatar-small{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.user-item-details{
    /* border: 1px solid fuchsia; */
    flex-grow: 1;
    margin-left: 4px;
}
.user-item-contact{
  /* border: 1px solid grey; */
  font-size: 0.7rem;
}
.user-item-actions{
   /* border: 1px solid lawngreen; */

}

.user-action-action{
    /* border: 1px solid gold; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

/* MECHANT DETAILS */

.images-sections{
    border: 1px solid green;
    display: flex;
}
.upload-section-logo{
    width: 300px;
    height: 300px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.upload-section-banner{
  
    height: 150px;
    width: 400px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    margin-left: 4px;
  }

  .bussiness-hours-item{
    display:flex;
    align-items: center;

  }
  .page-action-header{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 6px;
    height: 56px;
 }
  .page-title{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 12px 0px;
    max-height: 56px;
  }

  .forms-section{
    /* border: 2px solid goldenrod; */
    height: calc(100% - 114px);
    overflow-y: scroll;
  }


  /* MENU DETAILS STYLE */
  

  .upload-section-logo{
    width: 300px;
    height: 300px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.image-edit-section{
    width: 300px;
    height: 300px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.cropped-image{
    width: 100%;
    height: 200px;
}

.field-width{
    width: 100%;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.menu-details-section{
    border:1px solid #ddd;
    display: flex;

}


.item-name-field{
    font-size: 1.5rem;
    width:100%
}


.addon-category-section{
    /* border: 1px solid blueviolet; */
}
.addon-category-header{
    background-color: #ddd;
    display: flex;
    align-items: center;
    margin: 12px 0px;
    padding: 6px;
    height:56px;

}

.addons-section{
    /* border: 1px solid lightcoral; */
    display: flex;
    margin-left: 12px;
}
.addon-item-section{
    /* border: 1px solid crimson; */
    width: 100%;
    padding-right: 12px;
}
.addon-header{
  background-color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 44px;
  width: 100%; 
}

.name-field{
    flex-grow: 1;
    margin-right: 6px;
    width: 100%;
    font-weight: bold;
}

.category-field{
    font-size: 1.1rem;
}

.input-field{
    font-size: 0.9rem;
    margin: 6px;
}
.size-price-item{
    /* border: 1px solid crimson; */
    display: flex;
    align-items: flex-end;
    height: 44px;
}

.addon-prices-section{
    /* border: 3px solid green; */
    display: flex;
    margin-left: 16px;
   flex-wrap: wrap;
    align-items: center;
    
}
.addon-size-price-item{
    /* border: 1px solid crimson; */
    display: flex;
    align-items: flex-end;
    height: 44px;
}

.size-price-field{
    position: relative;
    bottom: -10px;
}

.ico-btn{
    display: flex;
    align-items: center;
}
.preference-item-container{
    display: flex;
    align-items: center;
}
.preference-item{
    display:flex;

}

