
<div class="page-action-header">
    <div class="page-title">
        Request Details
    </div>
    <div *ngIf="request"  class="order-action-container">
        <div *ngIf="request.stage === 'created'" class="order-details-actions">
            <button mat-flat-button color="warn" (click)="changeStatus('cancelled')">Cancel Order</button>&nbsp;
            <button mat-flat-button color="primary" (click)="changeStatus('accepted')">Accept Order</button>&nbsp;
        </div>
    
        <div *ngIf="request.stage ==='accepted'"  class="order-details-actions" >
           
            <button mat-flat-button color="warn" (click)="selectDriver()">Assign Driver</button>&nbsp;
            <button mat-flat-button color="warn" (click)="changeStatus('cancelled')">cancel order</button>&nbsp;
        </div>
    
        <div *ngIf="request.stage ==='driver_assigned'"  class="order-details-actions" >
            
            <button mat-flat-button color="warn" (click)="changeStatus('delivery_started')">Start Delivery</button>&nbsp;
            <!-- <button mat-flat-button color="warn">cancel order</button>&nbsp; -->
        </div>
    
        <div *ngIf="request.stage ==='delivery_started'"  class="order-details-actions" >
            <div>Order Status</div>
            <button mat-flat-button color="warn" (click)="completeRequest(request)">Complete Order</button>
            <!-- <button mat-flat-button color="warn">cancel order</button> -->
        </div>
    
        <div *ngIf="request.stage === 'complete'" class="order-details-actions" >
               Order status : Order delivered
        </div>
    
        <div *ngIf="request.stage === 'cancelled'" >
               Order Cancelled
        </div>
      
    
    </div>
</div>
<div *ngIf="request" class="order-details-container" >
    <div class="order-header">
        <div class="order-header-left">
            <div class="order-avatar">
                <img *ngIf="request.stage === 'accepted'" class="avatar" src="../../../assets/svg-icons/031-soup.svg">
                <img *ngIf="request.stage === 'created'" class="avatar" src="../../../assets/svg-icons/created.jpeg">
                <img *ngIf="request.stage === 'driver_assigned'" class="avatar" src="../../../assets/svg-icons/delivery.jpeg">
                <img *ngIf="request.stage === 'delivery_started'" class="avatar" src="../../../assets/svg-icons/delivery.jpeg">
                <img *ngIf="request.stage === 'cancelled'" class="avatar" src="../../../assets/svg-icons/cancelled.jpeg">
                <img *ngIf="request.stage === 'complete'" class="avatar" src="../../../assets/svg-icons/delivery.svg">
            </div>
        </div>
        <div class="order-header-center">
            <div class="order-client-name">
                {{request.customer_name}}
            </div>
            <div class="order-date">
                {{request.timestamp * 1000 | date}}
            </div>
            
        </div>
        <div class="order-header-right">
            <div class="order-id">
                {{request.invoice_no}}
            </div>
           
        </div>

    </div>
    <div class="order-customer-contacts">
        <div class="customer-contact-item">
            <div class="contact-item-icon">
                <mat-icon>local_phone</mat-icon>
            </div>
            <div class="contact-item-details">
                
                {{request.customer_phone}}
            </div>
            <div class="contact-item-action">
                <button class="req-btn" >call</button>
            </div>
        </div>
        <!-- <div class="customer-contact-item">
            <div class="contact-item-icon">
                <mat-icon>email</mat-icon>
            </div>
            <div class="contact-item-details">
                {{request.customer_email}}
            </div>
            <div class="contact-item-action">
                <button class="req-btn" >email</button>
            </div>
        </div>
        <div class="customer-contact-item" *ngIf="request.request_type === 'delivery'" >
            <div class="contact-item-icon">
                <mat-icon>location_on</mat-icon>
            </div>
            <div class="contact-item-details">
                {{request.delivery_info.house_flat_number}}
                {{request.delivery_info.suburb}}<br/>
                {{request.delivery_info.instructions}}
            </div>
            <div class="contact-item-action">
                <button class="req-btn" >navigate</button>
            </div>
        </div> -->
    </div>
    <div class="order-items-header">
        <span class="order-item-name">items</span>
        <span class="order-item-qty">quantity</span>
        <span class="order-item-price">price</span>
    </div>
    <div class="order-content">
        <div *ngFor="let merchant_item of merchants_items">
            {{merchant_item.name}}
            <div class="order-item-container"  *ngFor="let item of merchant_item.items">
                <div class="order-item">
                    <div class="order-item-name">{{item.name}} &nbsp; {{item.size}}</div>
                    <div class="order-item-qty">{{item.quantity}}</div>
                    <div class="order-item-price">{{item.item_total_price | currency}}</div>
                </div>
                <div class="extras-header" *ngIf="item.addons.length">
                    Extras
                </div>
                <div class="extras-container">
                    <span class="addon-item" *ngFor="let addon of item.addons">
                        {{addon.name}} {{addon.price | currency}}
                    </span> &nbsp;
                </div>  
                <div class="extras-header" *ngIf="item?.preferences">
                    Preference : {{ item.preferences.name}}{{ item.preferences.price | currency}}
                </div>
                <div *ngIf="item?.specifications">
                    Specifications : {{ item.specifications}}
                </div>
                
            </div>
        </div>
    </div>
    <div class="order-instructions" >
        <h2 *ngIf="request.request_type === 'delivery'">Request Type : {{request.request_type | titlecase}}</h2>
        <h2 *ngIf="request.request_type === 'reservation'">Request Type : {{request.request_type | titlecase}} for {{request.booked_for}} on {{request.booked_time * 1000 | date :'medium'}}</h2>
        <h2 *ngIf="request.request_type === 'pickup'">Request Type : {{request.request_type | titlecase}} on {{request.booked_time * 1000 | date :'medium'}}</h2>

    </div>
    <div class="order-totals">
      <div class="order-totals-left">
        <button mat-stroked-button (click)="copyRequest()">
            Copy Request
        </button>

      </div>
      <div class="order-totals-right">

          <div class="order-total-item">
            <div class="total-item-label">SubTotal</div>
            <div> : </div>
            <div class="order-total-amount">{{request.sub_total | currency}}</div>
          </div>

          <div class="order-total-item">
            <div class="total-item-label">Delivery Fee</div>
            <div> : </div>
            <div class="order-total-amount">{{request.delivery_fee | currency}}</div>
          </div>

          <div class="order-total-item">
            <div class="total-item-label">Discount(0%)</div>
            <div> : </div>
            <div class="order-total-amount"> {{ 0 | currency}}</div>
          </div>

          <div class="order-total">
            
          </div>

          <div class="order-total-item">
            <div class="total-item-label"><b>Total</b>  </div>
            <div> : </div>
            <div class="order-total-amount"> <b>{{request.total | currency}}</b> </div>
          </div>

      </div>
    </div>

</div>


